body {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
}
* {
  box-sizing: border-box;
}
a,
button {
  transition: 0.3s;
}
button {
  font-family: "Bai Jamjuree", sans-serif;
}
h1 {
  color: hsl(210, 10%, 33%);
}
h2 {
  font-size: 30px;
  color: hsl(210, 10%, 33%);
}
p {
  font-size: 22px;
  color: hsl(201, 11%, 66%);
  line-height: 35px;
}
.entry {
  background-image: url("images/bg-header-desktop.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.entry .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}
.entry .entry-info {
  margin: auto;
  text-align: center;
  width: 45%;
}
.entry .entry-info h1 {
  font-size: 50px;
}
.entry-buttons,
.final-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.button-one {
  padding-right: 20px;
}
.button-one button {
  background-color: hsl(171, 66%, 44%);
  color: #fff;
  padding: 20px 50px 20px 50px;
  font-size: 22px;
  border-radius: 100px;
  border: none;
  border-bottom: solid hsl(171, 67%, 34%);
}
.button-two button {
  background-color: hsl(233, 100%, 69%);
  color: #fff;
  padding: 20px 50px 20px 50px;
  font-size: 22px;
  border-radius: 100px;
  border: none;
  border-bottom: solid hsl(233, 67%, 59%);
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.top-info {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 100px;
}
.top-info h1 {
  font-size: 40px;
}
.section-one {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  width: 100%;
}
.section-one .foto {
  position: relative;
  margin-left: -50px;
  width: 50%;
}
.section-one .text-right {
  width: 35%;
}
.section-two {
  width: 100%;
}
.section-two .foto-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.section-three {
  width: 100%;
}
.section-three .advice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 70px;
}
.section-three .advice .text-advice {
  width: 29%;
  padding-right: 30px;
}
.final-buttons {
  padding-bottom: 200px;
}
.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
}
footer {
  background-color: #f5f6f8;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 50px;
}
.footer-container .footer-logo {
  width: 5%;
  padding-top: 25px;
}
.footer-container .footer-logo img {
  height: 100%;
  width: 100%;
}
.footer-container .canalize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-container li {
  list-style-type: none;
  padding-left: 50px;
}
.footer-container a {
  text-decoration: none;
  font-size: 25px;
  color: hsl(210, 10%, 33%);
}
.footer-container a:hover {
  color: hsl(171, 66%, 44%);
}
.footer-container .links {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.footer-container .links a {
  padding-left: 30px;
  background-color: transparent;
}
.footer-container .links .facebook:hover {
  color: #4267b2;
}
.footer-container .links .twitter:hover {
  color: #1da1f2;
}
.footer-container .links .instagram:hover {
  color: #8a3ab9;
}
@media screen and (max-width: 1270px) {
  p {
    font-size: 18px;
    line-height: 27px;
  }
  h2 {
    font-size: 25px;
  }
  .entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
  }
  .entry .entry-info {
    margin: auto;
    text-align: center;
    width: 90%;
  }
  .entry .entry-info h1 {
    font-size: 29px;
    width: 90%;
    margin: auto;
  }
  .entry .logo {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .entry-buttons,
  .final-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button-one {
    padding-right: 0px;
    padding-bottom: 20px;
  }
  .button-one button {
    padding: 15px 70px 15px 70px;
    font-size: 22px;
  }
  .button-two button {
    padding: 15px 70px 15px 70px;
    font-size: 22px;
  }
  .top-info {
    width: 80%;
  }
  .top-info h1 {
    font-size: 27px;
  }
  .section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  .section-one .foto {
    position: relative;
    margin-left: 0px;
    width: 85%;
    padding-bottom: 0px;
  }
  .section-one .foto img {
    height: 100%;
    width: 100%;
  }
  .section-one .text-right {
    width: 80%;
    text-align: center;
  }
  .section-one .text-right h2 {
    padding-top: 50px;
  }
  .section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }
  .section-two .foto-2 {
    width: 85%;
    padding-top: 30px;
  }
  .section-two .foto-2 img {
    height: 100%;
    width: 100%;
  }
  .section-three .advice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }
  .section-three .advice .text-advice {
    width: 90%;
    padding-right: 0px;
    padding-top: 50px;
  }
  .logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    width: 80%;
    margin: auto;
  }
  .logos img {
    padding-top: 80px;
  }
  footer ul {
    padding-inline-start: 0px;
  }
  footer .links {
    padding-inline-start: 0px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container li {
    list-style-type: none;
    padding-left: 0px;
  }
  .footer-container .canalize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-container .canalize ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .footer-container .footer-logo {
    width: 20%;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .footer-container .links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
  }
  .footer-container .links a {
    padding-left: 0px;
  }
  .fa-2x {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 320px) {
  .button-one button {
    padding: 15px 50px 15px 50px;
    font-size: 22px;
  }
  .button-two button {
    padding: 15px 50px 15px 50px;
    font-size: 22px;
  }
}
